<p id="notice"><%= notice %></p>

<h1>Activities</h1>
<div class="container">
<div class="row">

    <% @activities.each do |activity| %>
    <div>  
        <%= activity.title %>
        <%= activity.comment %>
        <%= image_tag activity.photo, class: 'img-fluid' %>
       <!-- <td><%= link_to 'Show', activity %></td> 
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </div> 
    <% end %>
</div>
</div>


<!--<%= link_to 'New Activity', new_activity_path %>-->
